@import 'pages/Home/style.scss';
@import 'pages/Header/style.scss';
@import 'pages/Details/style.scss';
@import 'components/Card/style.scss';
@import 'components/CardDetails/style.scss';
@import 'components/Pagination/style.scss';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  